*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
}

/* design menu hamburger */
#menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.menu{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 25px;
}

.menu .line
{
    width: 30px;
    height: 3px;
    background-color: #2C0B0E;
}
/* End Menu */

/* start logo */
#logo{
    margin-left: 40px;
}
/*end logl */

/* start profile picture */

#pictureprofile{
    padding: 23px;
    display: flex;
}

#arrow-down{
    margin-top: 15px;
    padding: 5px;
}

#arrow {
    width: 0;
    height: 0;
    margin-left: 8px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
}

#online{
    background-color: #629C44;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    margin-top: 27px;
    margin-left: 58px;
    position: absolute;
}
/* end profile picture and online circle , all the header */

/* start main */
p{
    text-align: center;
    margin: 10px;
    font-size: 16px;
}
#jobs{
    text-align: center;
    justify-content: center;
    width: 360px;
    height: 160px;
}
menu
{
    height: 88px;
}
#headerjobs {
    background-color: #D2F4EA;
    border: solid #D2F4EA;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 27px;
}
#menujobs{
    text-align: left;
    padding: 8px;
    background-color: #A6E9D5;
}
ol
{
    list-style-type: none;
}
li{
    font-size: 13px;
    padding: 8px;
}
li a{
    float: right;
}
#footerjobs{
    background-color: #D2F4EA;
    border: solid #D2F4EA;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 27px;
}
#footerjobs a{
    font-size: 14px;
}

#instructions{
    margin-top: 10px;
}
#instructions div{
    width: 81px;
    height: 77px;
    background-color: #A6E9D5;
    display: inline-block;
    margin: 8px;
    border: solid white;
    border-radius: 20px;
    text-align: center;
    padding: 8px;
}
#instructions img{
    margin-bottom: 12px;
}
/* end main */

/* start footer */
footer{
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
}
footer div{
    text-align: center;
    display: inline-block;
    margin: 10px 30px 0px 30px;
}
i{
    display: block;
}
span{
    display: block;

}
/* end footer */