*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #E9ECEF;
}
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 89px;
    background-color: white;
}
/* design menu hamburger */
#menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.menu{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 25px;
}
.menu .line
{
    width: 30px;
    height: 3px;
    background-color: #2C0B0E;
}
/* End Menu */

/* start logo */
#logo{
    margin-left: 0px;
    margin-right: 0px;
}
/*end logl */

/* start profile picture */

#pictureprofile{
    padding: 23px;
    display: flex;
}

#arrow-down{
    margin-top: 15px;
    padding: 5px;
}

#arrow {
    width: 0;
    height: 0;
    margin-left: 8px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
}
#online{
    background-color: #629C44;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    margin-top: 27px;
    margin-left: 58px;
    position: absolute;
}
/* end profile picture and online circle , all the header */
/* start main */
main{
    text-align: center;
}
p{
    text-align: center;
    margin: 10px;
    font-size: 16px;
}
#jobs{
    text-align: center;
    width: 100%;
    height: 160px;
}
menu
{
    height: 88px;
}
#headerjobs {
    background-color: #D2F4EA;
    border: solid #D2F4EA;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 27px;
}
#menujobs{
    text-align: left;
    padding: 8px;
    background-color: #A6E9D5;
}
ol
{
    list-style-type: none;
}
li{
    font-size: 13px;
    padding: 8px;
}
li a{
    float: right;
}
#footerjobs{
    background-color: #D2F4EA;
    border: solid #D2F4EA;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 27px;
}
#footerjobs a{
    font-size: 14px;
}

#instructions{
    margin-top: 10px;
}
#instructions div{
    width: 81px;
    height: 77px;
    background-color: #A6E9D5;
    display: inline-block;
    margin: 7px;
    border: solid white;
    border-radius: 20px;
    text-align: center;
    padding: 8px;
}
#instructions img{
    margin-bottom: 12px;
}
/* end main */

/* start footer */
footer{
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: #FFFF;
}
footer div{
    text-align: center;
    display: inline-block;
    margin: 10px 30px 0px 30px;
}
i{
    display: block;
}
span{
    display: block;

}
/* end footer */

/* page-menu main */
#Arrowleft{
    float: left;
    margin-left: 20px;
    margin-top: 6px;
}
#titlemenu{
    position: absolute;
    margin-top: 36px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    height: 29px;
}
#alljobs{
    border: solid 1px #20C997;
    background-color: #20C997;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 50%;
    height: 29px;
    text-align: center;
    cursor: pointer;
}
#jobsforyou{
    border: solid 1px white;
    background-color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 50%;
    height: 29px;
    text-align: center;
    cursor: pointer;
}
#search{
    position: absolute;
    margin-top: 80px;
    display: flex;
    margin-left: 8px;
    width: 100%;
    text-align: center;
}
#searchjob{
    width: 75%;
    height: 28px;
    border: solid 1px white;
    border-radius: 32px;
    background-color: white;    
    text-align: center;
}
#logosearch{
    float: left;
    margin: 5px;
}
#searchajob{
    text-align: center;
    margin-top: 4px;
}
#filterjob {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 25px;
}

#filterjob .bar01 {
    width: 24px;
    height: 3px;
    background-color: black;
    margin: 3px 0;
    border-radius: 2px;
}

#filterjob .bar02 {
    width: 12px;
    height: 3px;
    background-color: black;
    margin: 3px 0;
    border-radius: 2px;
}

#filterjob .bar03 {
    width: 6px;
    height: 3px;
    background-color: black;
    margin: 3px 0;
    border-radius: 2px;
}

#listmenu{
    background-color: white;
    position: absolute;
    margin-top: 116px;
    width: 100%;
    text-align: left;
    height: 100%;
    overflow-y: scroll;
    border-right: 1px solid #ccc;
}
.btndel{
    float: right;
    margin-right: 15px;
    background-color: white;
    border: solid 0px; 
}
#listmenu li{
    margin-bottom: 14px;
}
.btnarrowright{
    float: right;
    margin-right: 5px;
}
#addbutton{
    float: right;
    margin-left: 13px;
    margin-top: 5px;
}
#addjobs{
    display: none;
    text-align: left;
    margin: 5px 10px;
}
#addjobs h3{
    font-size: 16px;
    font-weight: bold;
    font-family: Helvetica;
}
.fullname{
    justify-content: space-between;
    margin-top: 10px;
}
input{
    border: solid 0px;
    width: 100%;
    height: 42px;
    text-align: center;
    
}
.fullname input{
    border: solid 0px;
    width: 160px;
    height: 42px;
    display: inline-flex;
    text-align: center;
    margin-right: 8px;
}
.typeworks{
    display: block;
    width: 100%;
}
.typeworks h3{
    width: 100%;
}
.typeworks span , .timework span{
    align-items: center;
    display: inline-flex;
    margin: 0px 7px;
    font-weight: normal;
    font-size: 16px;
    font-family: Helvetica;
}
.typeworks input , .timework input{
    width: 15px;
}
.timework span{
    margin: 0px 40px;
}
#btnsubmit{
    background-color: #20C997;
    font-weight: bold;
    font-size: 14px;
    font-family: Helvetica;
}

/* end pagemenu main */

/* Sidebar styles */
#menuicon{
    cursor: pointer;
}
#sidebar {
    height: 100%;
    width: 209px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFFF;
    color: black;
    transition: 0.5s;
    z-index: 1;
    display: none;
}
.headersidebar {
    background-color: #20C997;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 209px;
    height: 60px;
}
.headersidebar .searchicon{
    position: absolute;
    margin-left: 20px;
    color: #0a0b0c;
}
.headersidebar input{
    width: 153px;
    height: 22px;
    border: solid 0px;
    border-radius: 32px;
    margin-left: 10px;
}
.headersidebar #exit-icon{
    margin-right: 8px;
}

.profile {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.profile-img {
    width: 59px;
    height: 59px;
    border-radius: 50%;
}

.profile-name {
    font-size: 18px;
    margin: 10px 0 5px;
    color: #1AA179;
    font-style: Aleo;
}

.profile-email {
    color: #888;
    font-size: 14px;
}
.sidebarmenu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sidebarmenu ul li {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 5px; 
    width: 193px;
}

.sidebarmenu ul li a {
    display: flex;
    align-items: center;
    padding: 0; 
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

.sidebarmenu ul li a i {
    color: #0a0b0c;
    width: 29px;
    margin-right: 8px;
}

.sidebarmenu ul li a:hover{
    color: #20C997;
}
.homeicon{
    background-color: #A6E9D5;
    font-weight: bold;
    border-radius: 10px;
    float: left;
}
.footersidebarmenu{
    margin-top: 60px;
}

#exit-icon {
    cursor: pointer;
    font-size: 1rem;
    float: right;
}

#arrowleftIcon {
    cursor: pointer;
    font-size: 14px;
    color: #000;
    display: flex;
    align-items: center;
    font-weight: bold;
}

#arrowleftIcon i {
    margin-right: 8px;
}
.content p {
    text-align: left;
    font-weight: bold;
    margin-top: 2px;
}
.tab-bar {
    margin-top: 15px;
    display: flex;
    background-color: #fff;
    border-radius: 0px 20px 20px 0px;
}
.tab {
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tab i {
    margin-right: 8px;
}
.tab.active {
    background-color: #A6E9D5;
    color: #000;
    font-weight: bold;
    border-radius: 0px 20px 20px 0px;
}
.content {
    padding: 20px;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.photo-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.photo-placeholder {
    width: 190px;
    height: 150px;
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}
.photo-placeholder span {
    position: absolute;
    bottom: 10px;
    font-size: 14px;
    color: #000;
}
input {
    padding: 10px;
    border-radius: 10px;
    width: 333px;
    height: 32px;
    margin: 0 auto;
    box-sizing: border-box;
}
button.next-step {
    width: 120px;
    height: 32px;
    margin: 0 auto;
    padding: 10px;
    background-color: #A6E9D5;
    color: #000;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}
button.next-step:hover {
    color: #45a049;
}
.error-message {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
}
/* createCVNextpage css*/
main .sections {
    margin-top: 20px;
}

main .sections .section {
    margin-bottom: 40px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

main .sections .section:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

main .sections .section h2 {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    color: #000;
}

main .sections .section h2 i {
    margin-right: 10px;
}

main .sections .section .fas.fa-chevron-down {
    margin-left: auto;
}

main .sections .section .content-section {
    display: none;
    flex-direction: column;
    width: 95%;
    margin-top: 10px;
    padding-top: 10px;
}
main .sections .section .content-section textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.save-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
.save-button button {
    padding: 10px 20px;
    background-color: #A6E9D5;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.save-button button:hover {
    background-color: #60cc608c;
    color: #000;
}
/*end*/
.makecv-link {
    text-decoration: none;
    color: inherit;
}
.no-underline {
    text-decoration: none;
}
/*template page*/
.arrows {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.cv-wrapper {
    width: 267px;
    height: 337px;
    overflow: hidden;
    background-color: #FFFF;
}

.cv-page {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    height: 100%;
}

.cv-content {
    font-size: 12px;
    line-height: 1.5;
    overflow-y: auto;
    height: calc(100% - 40px); /* Adjust based on padding */
}

.profile-picture img {
    border-radius: 50%;
    max-width: 100px;
}

.contact-info {
    margin-bottom: 15px;
}

.cv-content h1,
.cv-content h2,
.cv-content h3,
.cv-content h4,
.cv-content h5,
.cv-content h6 {
    margin-bottom: 10px;
}

.cv-content ul {
    padding-left: 20px;
}

.cv-content p,
.cv-content ul {
    margin-bottom: 10px;
}

.arrow {
    text-decoration: none;
    color: #333;
    font-size: 24px;
}

.use-template {
    text-align: center;
    margin-top: 20px;
}

.use-template button {
    background-color: #A6E9D5;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.use-template button:hover {
    background-color: #0056b3;
}
